body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #222;
  color: #fff;
}

#app {
  display: flex;
  height: 80vh;
  margin-top: 20px;
}

#map-container {
  flex: 2;
  border: 1px solid #ccc;
  background-color: #333;
  padding: 10px;
}

#sidebar {
  flex: 1;
  border-left: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  background-color: #111;
}

#ship-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#ship-list li {
  padding: 5px;
  cursor: pointer;
}

#ship-list li:hover {
  background-color: #444;
}
